/*Seluruh Badan*/
body {
    background-color: #EFEFEF;
    max-height: 1920px;
    border-style: none;
    margin: 0;
    font-family: sans-serif;
}
.badanmateri {
    height: 1100px;
    width: 100%;
    position: absolute;
}
/*Kepala alias header*/
.kepala {
    width: 100%;
    background-color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    box-shadow: 0px 1px 10px #888888;
}
.Logo {
    background-color: none;
    margin-top: 20px;
    font-size: 50px;
    position: absolute;
    left: 30px;
    font-family: 'Lucida Calligraphy';
}
.menu1 {
    background-color: none;
    font-size: 20px;
    position: absolute;
    right: 30%;
    top: 40px;
}
.menu1 a {
    margin-right: 15px;
    text-decoration: none;
    color: black;
}
.login{
  background-color: none;
  font-size: 20px;
  position: absolute;
  right: 50px;
  top: 40px;
}
.login a{
  margin-right: 20px;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: #042137;
  text-decoration: none;
  color: white;
}
.login a:hover{
  background-color: white;
  color: black;
}
/*Mulai masuk bagian badan*/
.utamaBelajar{
  width: 100%;
  margin-top:300px;
  height: 70%;
  border-top:5px solid grey;
  margin-bottom: 0;
  position: relative;
  background-color: white;
  font-size: 30px;
}
.utamaBelajar h1{
  font-size: 50px;
  font-weight: 400;
  margin: 0;
  color: black;
  position:absolute;
  right:30%;
  top:20px;
}
.Fotoprofil{
    width:300px;
    height:300px;
    background-color:#E8E8E8;
    position:absolute;
    top:18%;
    left:5%;

}
.tabelprofil{
    position:absolute;
    top:40%;
    left:30%;
    font-size:20px;
    text-align:right;
    height:300px;
    margin-bottom:100px;
}
.tabelprofil tr{

}
.tabelprofil tr td{
    border:1px solid;
    text-align:left;
    padding-left:10px;
    padding-right:20px;
}
.tabelprofil tr th .button{
    background-color:#E3E3E3;
    border:none;
    padding:5px 10px;
}
/*Kaki alias Footer*/
.kaki {
    width: 100%;
    background-color: #042137;
    position: absolute;
    bottom: 0px;
    height: 200px;
    box-shadow: 0px -1px 10px #888888;
}
.logo2 {
    background-color: none;
    margin-top: 15px;
    font-size: 50px;
    position: absolute;
    left: 40px;
    color: white;
    font-family: 'Lucida Calligraphy';
}
.menu2{
  margin-top: 80px;
}
.menu2 ul{
  list-style: none;
}
.menu2 ul li{
  margin-bottom: 5px;
}
.menu2 ul li a{
  text-decoration: none;
  color: white;
}
.kontak{
  width: 100%;
  height:40px;
  position: absolute;
  bottom: 0;
  background-color: #031D2D;
}
.kontak1{
  position: relative;
  color: white;
  margin-top: 10px;
  margin-left: 40px;
}
.kontak2{
  position: absolute;
  right: 20px;
  bottom: 10px;
  color:white;
}
.phonebutton {
    font-size: 60px;
    position: absolute;
    right: 0px;
    background-color: none;
    color:black;
    padding:0px 10px;
    height:100%;
    text-align:center;
    width:40px;
    display:none;
}
    .phonebutton ul {
        list-style-type:none;
        padding:0;
        margin:0;
    }
    .phonebutton ul li{
        height:10px;
    }
.phonebutton:hover{
    background-color: #042137;
    color:white;
    cursor:pointer;
}
#tombolsamping {
    height: 550px;
    width: 400px;
    background-color: #042137;
    position: absolute;
    top: 110px;
    right: 10px;
    transition: all 500ms linear;
    border-radius: 10px;
    opacity: 0;
    display: none;
    box-shadow: 0px 1px 10px #888888;
}
#tombolsamping.active{
    opacity:1;
    display:block;
}
    .tombolsamping a {
        text-decoration: none;
        font-size: 40px;
        width: 90%;
        display: block;
        color: white;
        right:20px;
        margin: 100px 10px;
        text-align: right;
    }
@media only screen and (max-width: 1000px){
  .badanmateri{
      height:1720px;
  }
  .Fotoprofil{
    top:15%;
    left:35%;
  }
  .phonebutton{
      display:block;
  }
  .utamaBelajar h1{
  font-size: 60px;
  right:15%;
  top:280px;
}
  .tabelprofil{
    top:42%;
    left:10%;
    margin-bottom:100px;
    font-size:30px;
}
  .gambar1{
    display: none;
  }
  .pilihpaket{
    width: 50%;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    left: 25%;
    top: 25%;
    padding-top: 30px;
    height: 620px;
  }
  .menu1{
    display: none;
  } 
  .katamutiara{
    text-align: center;
    width: 100%;
    margin-left: 0;
  }
  .judulkeunggulan{
    bottom:105%;
    font-size: 50px;
  }
  .keunggulanteks{
    position: absolute;
    width: 100%;
    height: 380px;
    bottom: 50px;
  }
  .teks1{
    display: block;
    position: absolute;
    text-align: center;
    width: 30%;
    height: 150px;
    left: 35%;
    bottom: 90%;
    font-size: 25px;
  }
  .teks1 h1{
    font-size: 30px;
  }
  .teks2{
    position: absolute;
    text-align: center;
    width: 40%;
    height: 150px;
    left: 30%;
    bottom: 45%;
    font-size: 25px;
  }
  .teks2 h1{
    font-size: 30px;
  }
  .teks3{
    position: absolute;
    text-align: center;
    width: 40%;
    height: 150px;
    left: 30%;
    bottom: 0;
    font-size: 25px;
  }
  .teks3 h1{
    font-size: 30px;
  }
  .keunggulan{
    position: absolute;
    width: 100%;
    height: 550px;
    background-color: white;
    margin-top: 1000px;
  }
}
